#tagGraph {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.node {
    fill: sienna;
}

.node.selected {
    fill: forestgreen;
}

.node.nearby {
    fill: navy;
}

.node.nearby.nearby-dist-1 {
    opacity: 0.8;
}

.node.nearby.nearby-dist-2 {
    opacity: 0.6;
}

.node.nearby.nearby-dist-3 {
    opacity: 0.4;
}

.node.option {
    fill: red;
}

.link {
  stroke: black;
  stroke-opacity: 0.6;
}

