#tagGraph {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.node {
    fill: sienna;
}

.node.selected {
    fill: forestgreen;
}

.node.nearby {
    fill: navy;
}

.node.option {
    fill: red;
}

.link {
  stroke: black;
  stroke-opacity: 0.6;
}

